/* Color palette:
Light Shade:#F9F8F8;
Light Accent:#BF8F7B;
Main Brand Color:#7B7B79;
Dark Accent: #858478;
Dark Shades: #2D3127

*/
*{
    font-family:'Poppins';
}
.center{
    text-align: center;
}
body{
background-color:#29586C
}

h1{
color:#81B589   
}
h2{
color:#66B0A8
}
h3{
color:#CDB26C
}
h4{
color:#94C4CC
}
p{
color:#BCC3A2
}
ul{
color:#F0E7C1
}
ol{
color:#C8B486
}
img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 70%;
}
.navigation {
width: 90%;
position: -webkit-sticky;
position: fixed;
top: 0;
display: flex;
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;
justify-content: space-evenly;
align-items: center;
background-color: #29586C;
}
#navlist {
flex: 1;
text-align: center;
}

#navlist a {
display: inline-block;
color:whitesmoke;
padding: 14px 16px;
text-decoration: none;
}
#navlist a:hover {
background-color: black;
}

